.App {
  text-align: center;
  font-family: sans-serif;
}

.App-header {
  background-color: var(--primary-color);
  padding: 4rem 2rem;
  color: var(--white-color);
}

.App-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

main {
  padding: 2rem;
}

footer {
  background-color: var(--primary-color);
  padding: 2rem;
  color: var(--white-color);
}

/* Cores de fundo para as seções */
#sobre {
  background-color: var(--white-color);
}

#habilidades {
  background-color: var(--color-light);
  font-family: 'Fredoka', sans-serif;
}

#experiencia {
  background-color: var(--color-medium);
  font-family: 'Fredoka', sans-serif;
}

#certificacao {
  background-color: var(--color-dark);
  font-family: 'Fredoka', sans-serif;
}

#contato {
  background-color: var(--primary-color);
  color: var(--white-color);
}
