.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  padding: 4rem 2rem;
  color: var(--white-color);
}

.App-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

main {
  padding: 2rem;
}

footer {
  background-color: var(--secondary-color);
  padding: 2rem;
  color: var(--white-color);
}
